body {
    background: url('/static/img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    padding: 20px;
}

.competence-block {
    margin-bottom: 30px;
}

.competence-header {
    margin-bottom: 10px;
}

.form-question {
    margin-bottom: 20px;
}

.answer-option {
    display: block;
}

.form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.form-submit:hover {
    background-color: #45a049;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: red; /* Красный цвет для кнопки */
}

.close-button:hover {
    color: darkred; /* Более темный красный цвет при наведении */
}