body {
    background: url('/static/img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.team-info-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    position: relative; /* Добавлено для позиционирования кнопки закрытия */
    line-height: 1.6;
}

h2, h3, p {
    margin: 0 0 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.red-link {
    color: red;
    text-decoration: none;
}

.green-link {
    color: green;
    text-decoration: none;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

a {
    color: #483D8B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: red; /* Красный цвет для кнопки */
}

.close-button:hover {
    color: darkred; /* Более темный красный цвет при наведении */
}